body
{
    background-color: grey;
    margin: 0;
    padding: 0;
}
header
{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 200px;
background-color: rgb(15, 155, 90);
text-align: center;
text-transform: uppercase;
color: rgb(255, 255, 255);
font-size: 30px;
text-shadow: 0 0 30px black;
}
aside
{
width: 18%;
height: 600px;
float: left;
background-color: rgb(55, 71, 65);
padding: 1%;
}
section
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: rgb(255, 255, 255);
width: 50%;
margin-left: 25%;
margin-right: 25%;
margin-top: 20px;

}
main
{
    width: 78%;
    height: 600px;
    float: left;
    background-color: rgb(75, 88, 83);
    padding: 1%;
}
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
    width: 100%;
    height: 80px;
    background-color: rgb(15, 155, 90);
    text-align: center;
text-transform: capitalize;
}
.odnosnik
{
padding: 1%;
width: 100%;
text-align: left;
text-decoration: none;
color: black;
}
.odnosnik:hover
{
    background-color: black;
    color: white;
    
}
.odnosnik1
{
width: 100%;
padding: 1%;
text-align: left;
text-decoration: none;
color: black;
}
.napis
{
    color: white;
    font-size: 25px;
}