body
{
    margin: 0;
    padding: 0;
    background-color: gray;
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    background-color: rgb(14, 31, 22);
    color: white;
    font-size: 6vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
aside
{
    display: flex;
    align-items: center;
    flex-direction: column;
    float: left;
    width: 25%;
    height: 77vh;
    background-color: rgb(49, 48, 48);
    color: white;
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    float: left;
    width: 75%;
    height: 77vh;
    background-color: rgb(73, 72, 72);
}
footer
{
        display: flex;
        justify-content: right;
    align-items: center;
    clear: both;
    width: 100%;
    height: 8vh;
    background-color: rgb(14, 31, 22);
    color: white;
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: right;
}
.wybor
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 63vh;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(42, 43, 46);
    text-decoration: none;
    color: white;
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border-radius: 60px;
}
.wybor1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 63vh;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(42, 43, 46);
    text-decoration: none;
    color: white;
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border-radius: 60px;
}
img
{
    height: 45vh;
}
.aaa
{
    text-decoration: none;
    color: white;
}
iframe
{
    overflow: hidden;
    width: 100%;
    height: 75vh;
    border: none;
}
.przycisk
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 8vh;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
}
.male{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(49, 48, 48);
    text-decoration: none;
    color: black;

}
a
{
    text-decoration: none;
    color: black; 
    font-size: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}
