body {
  font-family: 'Arial', sans-serif;
  background: #9DA2AB; /* Gradient tła */
   color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Zapewnia, że treść nie dotyka krawędzi ekranu */
}

#main-container {
  display: flex;
  width: 100%; /* Zapewnia, że kontener rozciąga się na całą szerokość */
  max-width: 900px; /* Ustawia maksymalną szerokość kontenera */
  align-items: flex-start; /* Wyrównuje elementy kontenera do góry */
}

#quiz-container {
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  width: 60%; /* Ustawia szerokość kontenera quizu */
}

#definitions-panel {
  width: 50%; /* Zwiększ szerokość panelu */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 600px; /* Możesz dostosować wysokość zgodnie z potrzebą */
  color: black; /* Zmień kolor tekstu na czarny */
}

#definitions-panel div {
  font-weight: bold; /* Pogrubienie tekstu */
  margin-bottom: 10px; /* Dodaj trochę przestrzeni między definicjami */
}
input[type="text"], button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box; /* Dodać, aby padding był wliczany do szerokości */
}

button {
  background-color: #0D324D; /* Green */
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

button:hover {
  background-color: #7F5A83;
}

#result {
  margin-top: 20px;
  font-size: 16px;
  color: #FFD700;
  font-weight: bold;
}

input:focus, button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98); /* Slight click effect */
}
